body {
    background-color: #EE180F;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: top center;
    align-items: top center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.appreciation-message {
    color: #EE180F;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.animated-text {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }
  
  .animated-text span {
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: calc(0.05s * var(--index));
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
